.header {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: #f3b8d9;
    color: black;
    position: fixed;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}


.header h1 .seo {
    color: black;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Times New Roman', Times, serif
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}


.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color:black;
    text-decoration: none;
}

.image {

    text-align: center;
}

.contactme h2 {

    text-align: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  


  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

